<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/duvidas-frequentes.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header.ejs') %>
        <main>
            <h2 class="ajuda">Ajuda</h2>
            <p class="pode-ajudar">Como podemos ajudar? </p>

            <form action="/email-duvida" method="post">
                <input type="text" name="email_duvidador" id="email-duvidador" placeholder="Email" <%- data.input_values ? `value="${data.input_values.email}"` : "" %>>
                <textarea name="assunto_duvida" id="assunto-duvida" cols="30" rows="10" placeholder="Escreva sua dúvida"></textarea>
                <button> Enviar </button>
            </form>

            <% if (data.email_enviado) { %>
                <h1>Email enviado</h1>
            <% } %>
            
            <%- data.erros && data.erros.sistema_erro ? `<span class="mensagem-erro">${data.erros.sistema_erro.msg}</span>` : "" %>
            
            
            <h1 class="duvidas-frequentes">Dúvidas frequentes</h1>
            <div class="pesquisa">
                <input type="text" id="txtBusca" placeholder="Pesquise...">
            </div>
            <div class="pergunta-1">
                <h4 class="pergunta">Perdi minha senha de login, o que faço? </h4>
                <p class="resposta">
                    > Vá para a página de login e clique em "redefinir senha".
                </p>
            </div>
            <div class="pergunta-2">
                <h4 class="pergunta">Como doar para clubes e atletas? </h4>
                <p class="resposta">
                    > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo.
                </p>
            </div>
            <div class="pergunta-3">
                <h4 class="pergunta">Como as metas funcionam? </h4>
                <p class="resposta">
                    > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo.
                </p>
            </div>
            <div class="mais-duvidas">
            <button class="duvidas"> Mais dúvidas</button>
            </div>

        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>