<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- data.usuario_logado ? include('../templates/header-perfil.ejs') : include('../templates/header.ejs') %>

        <main>
            <div class="barra-pesquisa">
                <a href="/#" class="link-lupa"><i class='bx bx-search' id="lupa"></i></a>
                <input type="search" placeholder="Pesquise aqui" class="pesquisa">
            </div>
            <h2 class="novos-perfis">Conheça novos perfis</h2>
            <h4 class="apoie">Apoie o esporte brasileiro!</h4>

            <section id="perfis">
                <div class="atletas">
                    <a href="/Perfis_Atletas" class="btn-atletas">
                        <img src="/assets/home/atleta-circulo.png" class="icone-atleta">
                        <h3 class="titulo">Atletas</h3>
                    </a>

                    <div class="perfis-atletas">
                        <% data.usuarios.forEach(usuario => { %>
                            <div class="usuario-atleta">
                                <img src="/assets/perfil/user.png" class="foto-atleta">
                                <span class="linha-nome">
                                    <h4 class="nome-atleta"><%- usuario.nome %></h4>
                                    <img src="/assets/selo_invesport.png" class="selo">
                                </span>
                                <h4 class="cidade"><%- usuario.cidade %>-<%- usuario.estado %></h4>
                                <a href="/perfil-atleta/<%- usuario.id %>" class="ver-perfil">Ver perfil</a>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <div class="clubes">
                    <a href="/feed-clube" class="btn-clubes">
                        <img src="/assets/cadastro-login/time-circulo.png" class="icone-clubes">
                        <h3 class="titulo">Clubes</h3>
                    </a>
                    
                    <div class="perfis-clubes">
                        <% data.clubes.forEach(clube => { %>
                            <div class="usuario-atleta">
                                <img src="/assets/atletas/atleta_1.jpg" class="foto-atleta">
                                <span class="linha-nome">
                                    <h4 class="nome-atleta"><%- clube.nome %></h4>
                                    <img src="/assets/selo_invesport.png" class="selo">
                                </span>
                                <h4 class="cidade"><%- clube.cidade %>-<%- clube.estado %></h4>
                                <a href="/perfil-atleta" class="ver-perfil">Ver perfil</a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </section>

        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>