<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/perfil-clube-pov.css" />
    <title><%- data.page_name %></title>
    <script src="/js/perfil/tabs.js" defer></script>
    <script src="/js/perfil/br-code.js" defer></script>
    <script src="/js/perfil/teste-perfil.js" defer></script>
</head>

<body>
  <%- include('../templates/header-perfil.ejs') %>

    <main>
      <section>
        <div class="pic-perfil">
          <img src="/assets/perfil/banner-perfil.jpg" class="capa-perfil" />
          <img src="/assets/perfil/user.png" class="foto-perfil" />
        </div>
        <h2 class="titulo-perfil" id="logado"><%- data.clube.nome %></h2>
        <div class="redes-sociais">
          <i class="bx bxl-facebook-square" style="color: #ff540b"></i>
          <i class="bx bxl-instagram" style="color: #ff540b"></i>
        </div>
      </section>

      <section class="bio">
        <div class="info-bio">
          <span class="clube">
            <h4 class="text-clube"></h4>
            <h3 class="t-clube">Estado</h3>
            <h4 class="text-clube"><%- data.clube.estado %></h4>
          </span>
          </span>
        </div>

        <div class="button-bio">
          <button class="b-doar"><a href="/#">Doar</a></button>
        </div>

      </section>
      <hr class="linha-bio" />

      <div class="container">
        <div class="tabs">
          <h3 id="t-publicacoes" class="active" data-perfil-tab-title="portfolio">
            Portfólio
          </h3>
          <h3 id="t-sobre" data-perfil-tab-title="sobre">Sobre</h3>
          <h3 id="t-doacoes" data-perfil-tab-title="doacao">Doação</h3>
          <h3 id="t-metas" data-perfil-tab-title="meta">Metas</h3>
        </div>

        <div class="tab-content">
          <div id="portfolio" class="active" data-perfil-tab="portfolio">
            <section class="destaque">
              <img src="/assets/perfil/add-photo-grid.png" alt="" class="feed" />

            </section>

            <section class="container-momentos">
              <p class="momentos">Momentos</p>
              <section class="grid-portifolio">
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo.png" class="fotos-grid" />
              </section>
            </section>
          </div>

          <div id="sobre" data-perfil-tab="sobre">
            <span class="titulo-2"><b class="Sobre-usuario">Sobre </b> <%- data.clube.nome %></span>
            <form action="/editar-sobre-clube" method="post" id="itens-sobre">
              <%- data.erros && data.erros.sistema_erro ? `<span class="mensagem-erro">${data.erros.sistema_erro.msg}</span>` : "" %>

              <label for="idade">Idade:</label>
              <input type="text" name="idade" id="idade" value="<%- data.input_values && data.input_values.idade ? data.input_values.idade : "" %>" />
              <%- data.erros &&
              data.erros.idade_erro ? `<span class="mensagem-erro"
                >${data.erros.idade_erro.msg}</span
              >` : "" %>
              <label for="estado">Estado:</label>
              <input type="text" name="estado" id="estado" value="<%- data.input_values && data.input_values.estado ? data.input_values.estado : "" %>" />
              <%- data.erros &&
              data.erros.estado_erro ? `<span class="mensagem-erro"
                >${data.erros.estado_erro.msg}</span
              >` : "" %>
              <label for="cidade">Cidade:</label>
              <input type="text" name="cidade" id="cidade" value="<%- data.input_values && data.input_values.cidade ? data.input_values.cidade : "" %>" />
              <%- data.erros &&
              data.erros.cidade_erro ? `<span class="mensagem-erro"
                >${data.erros.cidade_erro.msg}</span
              >` : "" %>
              <textarea
              name="descricao"
              id="Desc-usuario"
              rows="4"
              placeholder="Fale mais sobre você"
            ><%- data.input_values && data.input_values.descricao ? data.input_values.descricao : "" %></textarea>
            <%- data.erros &&
              data.erros.descricao_erro ? `<span class="mensagem-erro"
                >${data.erros.descricao_erro.msg}</span
              >` : "" %>

            <button type="submit" class="att-sobre">Atualizar sobre</button>
          </div>

          <div id="doacao" data-perfil-tab="doacao">
            <span class="titulo-3">Receba doações no <b style="color: #1406a7"> Inve</b><b
                style="color: #ff540b">Sport</b>!</span>
                <div class="container-form">
                  <form class="chave-pix-form" method="POST" action="/atualizar-chave-pix">
                    <%- data.erros && data.erros.sistema_erro ? `<span class="mensagem-erro">${data.erros.sistema_erro.msg}</span>` : "" %>
                        <div class="form-gerar-pix">
                          <label for="input-pix-key" class="label-chave-pix">Chave PIX</label>
                          <span class="tipos-chave">
                            Telefone: +5511999999999
                          </span>
                          <span class="tipos-chave">
                            CPF: 99999999999
                          </span>
                          <span class="tipos-chave">
                            Email: email@gmail.com
                          </span>
                          <input type="text" name="chave_pix" id="input-pix-key" <%-
                          data.erros && data.erros.chave_pix_erro ? `erro` : "" %>
                          <%- data.input_values && data.input_values.chave_pix ? `value="${data.input_values.chave_pix}"` : ""
                          %>>
                          <%- data.erros && data.erros.chave_pix_erro ? `<span
                      class="mensagem-erro"
                      >${data.erros.chave_pix_erro.msg}</span
                    >` : "" %>
                        </div>
                      <div class="gerar-qrcode">
                          <button type="submit" class="gerar-btn">Adicionar chave PIX</button>
                      </div>
                  </form>
                </div>
    
                <div class="qr-code-container">
                  <div class="plaquinha-pix">
                    <div class="qrcode-replace">
                      <img src="" alt="" id="qr-code-image-generated">
                    </div>
    
                    <div class="">
                      <div class="js-qr-code-description"></div>
                    </div>
                  </div>
                </div>
          </div>

          <div id="meta" data-perfil-tab="meta">
            <span class="anda-meta">Metas em andamento:</span>
            <section class="info-meta">
              <p class="desc-meta">Passagem para o Campeonato</p>
              <section class="meta-icone">
                <i class="bx bx-target-lock" style="color: #ff6300" id="target">
                </i>
                <hr class="ls-animated" />
              </section>
              <p class="valor">máx: R$1,000</p>
            </section>
            <hr class="linha-meta" />
            <div class="container-add-meta">
              <span class="add-meta">Adicione sua meta</span>
              <section class="row">
                <input type="text" id="inputbox" placeholder="Nome da meta" />
                <input type="number" id="inputbox2" placeholder="Valor máximo da meta" />
                <button id="botao-add">Adicionar</button>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('../templates/rodape.ejs') %>
</body>

</html>