<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/perfil-atleta.css">
    <title><%- data.page_name %></title>
    <script src="/js/perfil.js" defer></script>
</head>

<body>
    <%- include('../templates/header-perfil.ejs') %>

        <main>
            <section>
                <div class="pic-perfil">
                    <img src="/assets/perfil/bannerperfil.jpeg" class="capa-perfil">
                    <img src="/assets/perfil/perfil-victor.jpeg" class="foto-perfil">
                </div>
                <h2 class="titulo-perfil" id="logado"><%- data.usuario.nome %></h2>
                <div class="redes-sociais">
                    <i class='bx bxl-facebook-square' style='color:#ff540b'></i>
                    <i class='bx bxl-instagram' style='color:#ff540b'></i>
                </div>
            </section>

            <section class="bio">
                <div class="info-bio">
                    <span class="clube">
                        <h4 class="text-clube"><%- data.usuario.estado %></h4>
                        <h3 class="t-clube">Estado</h3>
                    </span>
                    <span class="esporte">
                        <h4 class="text-esporte"><%- data.usuario.esporte %></h4>
                        <h3 class="t-esporte">Esporte</h3>
                    </span>
                </div>
                <div class="button-bio">
                    <button class="b-doar"><a href="#">Doar</a></button>
                </div>

                <div class="info-meta">
                    <p class="desc-meta"> Passagem para o Campeonato </p>
                    <div class="meta-icone">
                        <i class='bx bx-target-lock' style='color:#ff6300' id="target"></i>
                        <hr class="ls-animated">
                    </div>
                    <p class="valor">máx: R$1,000</p>
                </div>
            </section>
            <hr class="linha-bio">

            
            <div class="container">
                <div class="tabs">
                    <h3 id="t-publicacoes" class="active" data-perfil-tab-title="portfolio">Portfólio</h3>
                    <h3 id="t-sobre" data-perfil-tab-title="sobre">Sobre</h3>
                    <h3 id="t-doacoes" data-perfil-tab-title="doacao">Doação</h3>
                    <h3 id="t-metas" data-perfil-tab-title="meta">Metas</h3>
                </div>

                <div class="tab-content">
                    <div id="portfolio" class="active" data-perfil-tab="portfolio">
                        <img src="/assets/perfil/feed-victor3.jpeg" alt="" class="feed">
                        <p class="legenda">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                            <section class="container-momentos">
                                <p class="momentos">Momentos</p>
                                <section class="grid-portifolio">
                                    <img src="/assets/perfil/victor1.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor2.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor3.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor4.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor5.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor6.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor7.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor8.jpeg" class="fotos-grid">
                                    <img src="/assets/perfil/victor9.jpeg" class="fotos-grid">
                                </section>
                            </section>
                    </div>

                    <div id="sobre" data-perfil-tab="sobre">
                        <span class="titulo-2"><b class="Sobre-usuario">Sobre</b><%- data.usuario.nome %></span>
                        <form action="" method="get" id="itens-sobre">
                            <input type="text" name="Idade">
                            <input type="text" name="Esporte">
                            <input type="text" name="Estado">
                            <input type="text" name="Cidade">
                        </form>
                        <textarea name="Descrição" id="Desc-usuario" cols="30" rows="10" placeholder="Fale mais sobre você"></textarea>
                    </div>

                    <div id="doacao" data-perfil-tab="doacao">
                        <span class="titulo-3">Receba doações no <b style="color:#1406a7;">Inve</b><b style="color: #ff540b;">Sport</b>!</span>
                        <form class="chave-pix-form" method="POST">
                            <div class="">
                              <div class="">
                                <div class="">
                                  <label for="input-pix-key" class="label-chave-pix">Chave PIX</label>
                                  <div class="">
                                    <div class="">
                                      <label for="key_type" class="label-tipo-pix">Tipo Chave Pix</label>
                                      <select id="key_type" name="key_type" aria-label="Tipo Chave Pix" class="">
                                        <option>Telefone</option>
                                        <option>Email</option>
                                        <option>CPF</option>
                                        <option>CNPJ</option>
                                        <option>Outro</option>
                                      </select>
                                    </div>
                                    <input name="key" id="input-pix-key" class="" maxlength="60" inputmode="tel" placeholder="(11) 95555-5555" required=true  aria-label="Telefone Cadastrado no PIX, Somente números" type="tel">
                                  </div>
                                </div>
                      
                      
                                <div class="mt-6">
                                  <label for="input-name" class="">Nome do beneficiário (até 25 letras)</label>
                                  <div class="">
                                    <input inputmode="text" id="input-name" name="name" placeholder="" required=true maxlength="25" aria-label="Nome do beneficiário Até 25 letras">
                                  </div>
                                </div>
                      
                                <div class="mt-6">
                                  <label for="input-city" class="">Cidade do beneficiário ou da transação (até 15 letras)</label>
                                  <div class="">
                                    <input inputmode="text" id="input-city" name="city" required=true maxlength="15" aria-label="Cidade do beneficiário Até 15 letras">
                                  </div>
                                </div>
                      
                                <div class="mt-6">
                                  <label for="input-amount" class="">Valor para transferência (opcional)</label>
                                  <div class="">
                                    <input inputmode="numeric" id="input-amount" name="amount" placeholder="0,00"  aria-label="Valor padrão para transferência">
                                  </div>
                                </div>
                      
                                <div class="mt-6">
                                  <label for="input-reference" class="">Código da transferência - Sem espaço (opcional - até 20 Letras e/ou Números)</label>
                                  <div class="">
                                    <input inputmode="text" id="input-reference" name="reference" class="" placeholder="PAGAMENTO123D" maxlength="20" aria-label="Texto de renferencia para tansferencia, o usuário vai ver esse texto e deve aparecer em seu extrato" pattern="[A-Za-z0-9]+">
                                  </div>
                                </div>
                              </div>
                      
                              <div class="">
                                <span class="">
                                  <button type="submit"  class="gerar-btn">
                                    Gerar
                                  </button>
                                </span>
                              </div>
                            </div>
                          </form>
                    </div>

                    <div id="meta" data-perfil-tab="meta">
                        <span class="anda-meta">Metas em andamento:</span>
                        <section class="info-meta">
                            <p class="desc-meta"> Passagem para o Campeonato </p>
                            <section class="meta-icone">
                                <i class='bx bx-target-lock' style='color:#ff6300' id="target"></i>
                                <hr class="ls-animated">
                            </section>
                            <p class="valor">máx: R$1,000</p>
                        </section>
                        <hr class="linha-meta">
                        <span class="add-meta">Adicione sua meta</span>
                        <section class="row">
                            <input type="text" id="inputbox" placeholder="Nome da meta">
                            <input type="number" id="inputbox2" placeholder="Valor máximo da meta"> 
                            <button id="botao-add">Add</button>
                        </section>
                    </div>
                </div>

            </div>

        </main>
        
        <%- include('../templates/rodape.ejs') %>
</body>

</html>