<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/perfil-atleta-pov.css" />
    <title><%- data.page_name %></title>
    <script src="/js/perfil/tabs.js" defer></script>
  </head>

  <body>
    <%- include('../templates/header-perfil.ejs') %>

    <main>
      <section>
        <div class="pic-perfil">
          <img src="<%- data.usuario.banner_perfil ? `/assets/atleta/banner/${data.usuario.id}` : "/assets/perfil/banner-perfil.jpg" %>" class="capa-perfil" />
          <img src="<%- data.usuario.imagem_perfil ? `/assets/atleta/perfil/${data.usuario.id}` : "/assets/perfil/user.png" %>" class="foto-perfil" />
          <a href="/editar-perfil-atleta" class="edit-perfil">
            <img src="/assets/perfil/edit-perfil.png" alt="edit-icon">Editar perfil
          </a>
        </div>
        <h2 class="titulo-perfil" id="logado"><%- data.usuario.nome %></h2>
      </section>

      <section class="bio">
        <div class="info-bio">
          <span class="clube">
            <h3 class="t-clube" style="color: #ff540b;">Estado</h3>
            <h4 class="text-clube"><%- data.usuario.estado %></h4>
          </span>
          <span class="esporte">
            <h3 class="t-esporte" style="color: #ff540b;">Esporte</h3>
            <h4 class="text-esporte"><%- data.usuario.esporte.nome %></h4>
          </span>
        </div>
        <div class="button-bio">
          <button class="b-doar"><a href="/#">Doar</a></button>
        </div>

      </section>
      <hr class="linha-bio" />

      <div class="container">
        <div class="tabs">
          <h3 id="t-publicacoes" class="active" data-perfil-tab-title="portfolio">Portfólio</h3>
          <h3 id="t-doacoes" data-perfil-tab-title="doacao">Doação</h3>
          <h3 id="t-sobre" data-perfil-tab-title="sobre">Sobre</h3>
          <h3 id="t-metas" data-perfil-tab-title="meta">Metas</h3>
        </div>

        <!-- PORTFOLIO -->
        <div class="tab-content">
          <div id="portfolio" class="active" data-perfil-tab="portfolio">
            <input type="file" name="portfolio_imagem" id="add-imagem">
            <label for="add-imagem"><img src="/assets/perfil/add-photo.png" class="feed"/></label>
            <section class="container-momentos">
              <p class="momentos">Momentos</p>
              <section class="grid-portifolio">
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
                <img src="/assets/perfil/add-photo-grid.png" class="fotos-grid" />
              </section>
            </section>
          </div>

          <!-- SOBRE -->
          <div id="sobre" data-perfil-tab="sobre">
            <span class="titulo-2"
              ><b class="Sobre-usuario">Sobre </b> <%- data.usuario.nome %></span
            >
            <form action="/editar-sobre-atleta" method="post" id="itens-sobre">
              <%- data.erros && data.erros.sistema_erro ? `<span class="mensagem-erro">${data.erros.sistema_erro.msg}</span>` : "" %>

              <label for="idade">Idade:</label>
              <input type="text" name="idade" id="idade" value="<%- data.input_values && data.input_values.idade ? data.input_values.idade : "" %>" />
              <%- data.erros &&
              data.erros.idade_erro ? `<span class="mensagem-erro"
                >${data.erros.idade_erro.msg}</span
              >` : "" %>
              <label for="esporte">Esporte:</label>
              <p><%- data.usuario.esporte.nome %></p>
              <label for="estado">Estado:</label>
              <input type="text" name="estado" id="estado" value="<%- data.input_values && data.input_values.estado ? data.input_values.estado : "" %>" />
              <%- data.erros &&
              data.erros.estado_erro ? `<span class="mensagem-erro"
                >${data.erros.estado_erro.msg}</span
              >` : "" %>
              <label for="cidade">Cidade:</label>
              <input type="text" name="cidade" id="cidade" value="<%- data.input_values && data.input_values.cidade ? data.input_values.cidade : "" %>" />
              <%- data.erros &&
              data.erros.cidade_erro ? `<span class="mensagem-erro"
                >${data.erros.cidade_erro.msg}</span
              >` : "" %>
              <textarea
              name="descricao"
              id="Desc-usuario"
              rows="4"
              placeholder="Fale mais sobre você"
            ><%- data.input_values && data.input_values.descricao ? data.input_values.descricao : "" %></textarea>
            <%- data.erros &&
              data.erros.descricao_erro ? `<span class="mensagem-erro"
                >${data.erros.descricao_erro.msg}</span
              >` : "" %>

            <button type="submit" class="att-sobre">Atualizar sobre</button>
            </form>

          </div>

          <!-- DOAÇÃO -->
          <div id="doacao" data-perfil-tab="doacao">
            <span class="titulo-3"
              >Receba doações no <b style="color: #1406a7"> Inve</b
              ><b style="color: #ff540b">Sport</b>!</span
            > 
            <div class="container-form">
              <form class="chave-pix-form" method="POST" action="/atualizar-chave-pix">
                <%- data.erros && data.erros.sistema_erro ? `<span class="mensagem-erro">${data.erros.sistema_erro.msg}</span>` : "" %>
                    <div class="form-gerar-pix">
                      <label for="input-pix-key" class="label-chave-pix">Chave PIX</label>
                      <span class="tipos-chave">
                        Telefone: +5511999999999
                      </span>
                      <span class="tipos-chave">
                        CPF: 99999999999
                      </span>
                      <span class="tipos-chave">
                        Email: email@gmail.com
                      </span>
                      <input type="text" name="chave_pix" id="input-pix-key" <%-
                      data.erros && data.erros.chave_pix_erro ? `erro` : "" %>
                      <%- data.input_values && data.input_values.chave_pix ? `value="${data.input_values.chave_pix}"` : ""
                      %>>
                      <%- data.erros && data.erros.chave_pix_erro ? `<span
                  class="mensagem-erro"
                  >${data.erros.chave_pix_erro.msg}</span
                >` : "" %>
                    </div>
                  <div class="gerar-qrcode">
                      <button type="submit" class="gerar-btn">Adicionar chave PIX</button>
                  </div>
              </form>
            </div>

            <div class="qr-code-container">
              <div class="plaquinha-pix">
                <div class="qrcode-replace">
                  <img src="" alt="" id="qr-code-image-generated">
                </div>

                <div class="">
                  <div class="js-qr-code-description"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- METAS -->
          <div id="meta" data-perfil-tab="meta">
            <!-- <script src="/js/perfil/metas.js/"></script> -->
            <span class="anda-meta">Metas em andamento:</span>
            <section class="info-meta">
              <p class="desc-meta">Passagem para o Campeonato</p>
              <section class="meta-icone">
                <i
                  class="bx bx-target-lock"
                  style="color: #ff6300"
                  id="target">
                </i>
                <hr class="ls-animated" />
              </section>
              <p class="valor">máx: R$1,000</p>
            </section>
            <hr class="linha-meta" />
            <span class="add-meta">Adicione sua meta</span>
            <section class="row">
              <input type="text" id="inputbox" placeholder="Nome da meta" />
              <input
                type="number"
                id="inputbox2"
                placeholder="Valor máximo da meta"/>
              <button id="botao-add">Add</button>

              <!-- 
                <div class="info-meta">
                  <p class="desc-meta">Passagem para o Campeonato</p>
                  <div class="meta-icone">
                    <i
                      class="bx bx-target-lock"
                      style="color: #ff6300"
                      id="target">
                    </i>
                    <hr class="ls-animated" />
                  </div>
                  <p class="valor">máx: R$1,000</p>
                </div> -->
            </section>
          </div>
          
        </div>
      </div>
    </main>

    <%- include('../templates/rodape.ejs') %>
  </body>
</html>
