<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/redefinir-senha.css">
    <title><%- data.page_name %></title>
    <meta name="mnd-ver" content="6dzq83tivsmksvb0iy0rg" />
    <script async src="https://ss.mndsrv.com/native.js"></script>
</head>


    <body>
        <%- include('../templates/header.ejs') %>

            <main style="padding-top: 80px;">
                <% if (data.token_validation==="invalid_token") { %>
                    <h1>Token inválido</h1>
                <% } else if (data.token_validation==="expired_token") { %>
                    <h1>Token expirado</h1>
                <% } else if (data.token_validation==="valid_token") { %>
                    <h1>Recupere sua senha</h1>

                    <p>Envie um email para recuperar sua senha!</p>

                    <form action="/redefinir-senha/<%- data.token %>" method="post">
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" id="senha">

                        <label for="confirmacao-senha">Confirmação de senha</label>
                        <input type="password" name="confirmacao_senha" id="confirmacao-senha">

                        <button type="submit">Atualizar senha</button>
                    </form>
                 <% } %>
            </main>

            <%- include('../templates/rodape.ejs') %>
    </body>

</html>