<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/tarefas.css">
    <script src="/js/agenda.js" defer></script>
    <title><%- data.page_name %></title>
</head>
<body>
  <main>
    <%- include('../templates/header-perfil.ejs') %>

    <div class="fundo">
      <img src="/assets/topo-tarefas.jpg" class="fundo">
      <div class="titulo">
        <span class="t-principal">
        <h1 class="ola">Bem vindo(a)!</h1>
        <h5 class= span>Adicione uma tarefa para organizar sua agenda</h5>
      </span>
    </div>
    </div>
    <div class="container">
        <div class="todo-app">
          <h2>Tarefas</h2>

          <div class="row">
            <form action="/criar-tarefa" method="post">
              <input type="text" id="inputbox" name="nome_tarefa" placeholder="Escreva sua tarefa" class="<%- data.erros && data.erros.nome_tarefa_erro ? `erro` : "" %>" <%- data.input_values ? `value="${data.input_values.nome_tarefa}"` : "" %>>
              <input type="date" id="inputbox2" name="conclusao_tarefa" placeholder="Prazo da tarefa" class="<%- data.erros && data.erros.conclusao_tarefa_erro ? `erro` : "" %>" <%- data.input_values ? `value="${data.input_values.conclusao_tarefa}"` : "" %>>

              <button id="botao-add" type="submit">Add</button>
            </form>
          </div>
          
          <%- data.erros && data.erros.nome_tarefa_erro ? `<span class="mensagem-erro">${data.erros.nome_tarefa_erro.msg}</span>` : "" %>
          <%- data.erros && data.erros.conclusao_tarefa_erro ? `<span class="mensagem-erro">${data.erros.conclusao_tarefa_erro.msg}</span>` : "" %>

    <div id="slide">
         <!-- <div class="card" id="card">
               <p class="output1" id="output1"></p>
              <h6>Prazo:</h6>
              <span class="output2" id="output2"></span>
            </div>  -->
            <% data.tarefas.forEach(tarefa => { %>
              <div class="card">
                <button value="remover" class="btn-remover">Remover</button>
                <p class="output1"><%- tarefa.nome %></p>
                <h6>Prazo:</h6>
                <span class="output2"><%- tarefa.data_conclusao %></span>
              </div>
            <% }) %>
        </div> 
          </ul>
        </div>
    </div>
    

    <%- include('../templates/rodape.ejs') %>
  </main>
</body>
</html>