<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../templates/head-admin.ejs') %>
    <title><%- data.page_name %></title>
    <link rel="stylesheet" href="/css/home-admin.css">
    <script src="/js/admin/home-admin.js" defer></script>
</head>

<body>
    <%- include('../../templates/header-admin.ejs') %>

    <!-- VIEW USERS -->

    <h2 class="titulo-admin">Ãrea Administrativa</h2>

    <div id="container-contador">
        <div id="caixa-contador">
            <span class="t-contador">Cadastros</span>
            <p class="n-contador"><%- data.usuarios.length%></p>
        </div>
        <div id="caixa-contador">
            <span class="t-contador">Assinantes</span>
            <p class="n-contador"><%- data.quantidadeUsuariosPremium %></p>
        </div>
    </div>

    <div class="container-pesquisa">
        <div class="container-lupa">
            <img src="/assets/admin/search.png">
        </div>
        <form action="/pesquisar-usuarios" method="get" id="pesquisar-form">
            <input type="search" name="pesquisar_usuarios" id="pesquisar" placeholder=" Search" <%- data.filtroPesquisa ? `value="${data.filtroPesquisa}"` : "" %>>
        </form>
    </div>

    <h2 class="titulo-admin">Atletas</h2>

    <% data.usuarios.forEach(usuario => { %>
    <div class="container-user" id="usuario-<%- usuario.id %>">
        <div class="caixa-user">
            <div class="info-user">
                <li>User: <%- usuario.nome %></li>
                <li>Id: <%- usuario.id %></li>
                <li>E-mail: <%- usuario.email %></li>
            </div>
            <div class="config-user" data-config-user>
                <img src="/assets/admin/setting.png">
            </div>
        </div>
        <div class="container-links-user">
            <div class="links-user">
                <a href="/editar-usuario/<%- usuario.id %>">Editar</a>

                <a href="/deletar-usuario/<%- usuario.id %>">Deletar</a>
            </div>
        </div>
    </div>
    <% }) %>

    <%- include('../../templates/footer-admin.ejs') %>
</body>

</html>