<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../templates/head-admin.ejs') %>
    <link rel="stylesheet" href="/css/tokens.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../../templates/header-admin.ejs') %>

    <main>
        <h2 class="t-tokens">Tabela de Tokens</h2>

        <div class="tabela-token">
            <table>
                <tr>
                    <th>User</th>
                    <th>Token</th>
                    <th>Criação</th>
                </tr>

                <% data.tokens.forEach(token => { %>
                <tr>
                    <td><%- token.email %></td>
                    <td><%- token.id %></td>
                    <td><%- token.created_at.getDate() %>/<%- String(token.created_at.getMonth() + 1).padStart(2, "0") %>/<%- token.created_at.getFullYear() %></td>
                </tr>
                <% }) %>
            </table>
        </div>
    </main>

    <%- include('../../templates/footer-admin.ejs') %>
</body>

</html>